#include <windows.h>
#include "resource.h"

IDD_PROJECT_OPEN_DIALOG DIALOG 0, 0, 335, 132
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bench SDK"
FONT 10, "Arial"
BEGIN
    // Header
    LTEXT           "Welcome to Bench SDK!", IDC_STATIC, 0, 5, 335, 10, SS_CENTER

    // ----- Create Project box -----
    GROUPBOX        "Create Project", IDC_STATIC, 5, 18, 160, 109
    LTEXT           "Start a new Bench SDK project from scratch.", IDC_STATIC, 10, 32, 130, 60
    PUSHBUTTON      "New Project", IDC_BUTTON_NEWPROJECT, 40, 107, 90, 14

    // ----- Open Project box -----
    GROUPBOX        "Open Project", IDC_STATIC, 170, 18, 160, 109
    LTEXT           "Open an existing Bench SDK project (.bsprj).\n\nIf you're modding a game, this is the option you're looking for.", IDC_STATIC, 175, 32, 130, 60
    LTEXT           "Project path:", IDC_STATIC, 175, 80, 60, 8
    EDITTEXT        IDC_EDIT_PATH, 175, 90, 125, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BUTTON_BROWSE, 305, 90, 20, 12
    PUSHBUTTON      "Open Project", IDC_BUTTON_OPENPROJECT, 205, 107, 90, 14
END

