name: Build & Deploy Doxygen

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  doxygen:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        
      # dont clutter other people's github pages if they fork this:
      - name: Prevent deploy on forks
        if: github.repository_owner != 'ghostdisk'
        run: |
          echo "Not ghostdisk/bench-sdk repo, skipping deployment."
          exit 1

      - name: Build Doxygen HTML
        uses: mattnotmitt/doxygen-action@v1.9.5

      - name: Prepare output directory
        run: |
          mkdir -p public/api
          cp -r docs/html/* public/api/

      - name: Deploy to GitHub Pages
        if: github.repository_owner == 'ghostdisk'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
          force_orphan: true
